@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/inter/700.css";
@variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  transition:
    background-color 0.3s ease,
    color 0.2s ease,
    border-color 0.3s ease;
}

body {
  font-family: "Inter";
  @apply bg-white dark:bg-neutral-950 text-neutral-900 dark:text-white;
}

@layer base {
  h1 {
    @apply text-xl sm:text-3xl font-bold text-neutral-900 dark:text-white mb-1;
  }
  h2 {
    @apply text-lg sm:text-xl font-semibold text-neutral-800 dark:text-neutral-100;
  }
  p {
    @apply text-xs sm:text-sm text-neutral-500 dark:text-neutral-400;
  }
  a {
    @apply text-xs sm:text-sm text-neutral-600 dark:text-neutral-300;
  }
  button {
    @apply text-xs sm:text-sm text-neutral-500 hover:bg-neutral-100 hover:text-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-neutral-200 min-h-11 sm:min-h-0;;
  }
  input {
    @apply text-xs sm:text-sm border border-neutral-200 bg-neutral-50 text-neutral-700 placeholder-neutral-400
  dark:border-neutral-800 dark:bg-neutral-900 dark:text-neutral-200 dark:placeholder-neutral-500;
  }
}
